VITE_API_BASE=api.example.com
VITE_DEPLOY_BASE=deploy.example.com


VITE_APP_NAME=PassDeployer
VITE_APP_DESCRIPTION=Deploy Django, Node.js, Flask, Docker and more.
VITE_APP_URL=https://example.com
VITE_APP_PREVIEW=https://example.com/preview.png
DOCKERFILE_NPM_MIRROR=https://registry.npmmirror.com